body{
    margin: 0px;
    background-color: #034694;
    padding: 0px;
}
.main_nav{
    background-color: #034694;
    color: white;
    font-size: 40px;
    height: 130px;
}
.main_nav a{
    font-family: 'Koulen';
    float: left;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-left:100px;
}
.main_nav a:hover{
    color: #539ff5;
}
.main_nav img{
    padding-top: 15px;
    float: left;
    height: 90px;
    padding-left:30px;
}
.banner{
    position:relative;
    text-align:center;
    width:100%;
}
.banner img{
    width: 100%;
    object-fit: cover;
}
.banner_text h1{
    position: absolute;
    font-family: 'Koulen';
    text-decoration: underline;
    color: white;
    font-size: 100px;
    top: 70px;
    left: 375px;
    bottom: 50%;
    text-shadow: 0 0 3px #034694, 0 0 5px #034694;
}
.banner_text h2{
    position: absolute;
    font-family: 'Koulen';
    color: white;
    font-size: 50px;
    top: 225px;
    left: 660px;
    bottom: 50%;
    text-shadow: 0 0 3px #034694, 0 0 5px #034694;
}
.flex{
    display:flex;
    flex-direction: row;
    padding-left:100px;
    padding-top:30px;
    padding-bottom:30px;
}
#home_main{
    color: white;
    max-width:400px;
    font-family:'Alike Angular';
    padding-left:50px;
    padding-right:50px;
}
#img_1{
    max-width: 400px;
    border: 2px solid white;
}
#img_2{
    max-width: 400px;
    border: 2px solid white;
}
.view {
    color:white;
    position:relative;
    text-align:center;
    width:100%;
}
.background img{
    width: 100%;
    object-fit: cover;
}
.view h2{
    background-color: #034694;
    position: absolute;
    font-family: 'Koulen';
    text-decoration: underline;
    color: white;
    font-size: 100px;
    top: 70px;
    left: 275px;
    bottom: 50%;
    padding-left: 223px;
    padding-right:245px;
    border: 1px solid white;
}
.view table{
    background-color: #034694;
    position: absolute;
    font-family: 'Koulen';
    color: white;
    font-size: 20px;
    top: 300px;
    left: 275px;
    bottom: 50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
    border-top: 0px;
}
.view th, td{
    border: 1px solid white;
    padding: 10px;
}
.add{
    background: radial-gradient(circle, hsla(212, 96%, 30%, 1) 0%, hsla(178, 64%, 65%, 1) 100%);
    color:white;

}
.add_flex{
    display:flex;
    flex-direction: row;
}
.form label, input{
    margin-left: 425px;
}
.add h2{
    padding-left:900px;
    padding-top: 20px;
    font-size: 50px; 
    position: absolute;
}
.form button{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:425px; 
    color: white;
    background-color: #034694;
}
.add img{
    margin:0px;
    padding:0px;
    position:relative;
}
#season{
    margin-top:300px;
}