{% extends 'index.html'%}
{% block body%}

<div class = "add">
    <h2>Add Records</h2>
    <div class = "add_flex">
    <img src = "{{url_for('static', filename = 'JACKSON.jpg')}}">
    <form method = 'post' class = "form">
        <label for = 'season' id = "season">Season</label>
        <input type = 'text' name = 'season'>
        <label for = 'games_played'>Games Played</label>
        <input type = 'text' name = 'games_played' id = 'games_played'>
        <label for = 'games_won'>Wins</label>
        <input type = 'text' name = 'games_won' id = 'games_won'>
        <label for = 'games_drawn'>Drawn</label>
        <input type = 'text' name = 'games_drawn' id = 'games_drawn'>
        <label for = 'games_lost'>Losses</label>
        <input type = 'text' name = 'games_lost' id = 'games_lost'>
        <label for = 'goals_for'>Goals For</label>
        <input type = 'text' name = 'goals_for' id = 'goals_for'>
        <label for = 'goals_against'>Goals Against</label>
        <input type = 'text' name = 'goals_against' id = 'goals_against'>
        <label for = 'goal_difference'>Goal Difference</label>
        <input type = 'text' name = 'goal_difference' id = 'goal_difference'>
        <label for = 'points'>Points</label>
        <input type = 'text' name = 'points' id = 'points'>
        <label for = 'top_goal_scorer'>Top Goal Scorer</label>
        <input type = 'text' name = 'top_goal_scorer' id = 'top_goal_scorer'>
        <label for = 'top_assist_maker'>Top Assist Maker</label>
        <input type = 'text' name = 'top_assist_maker' id = 'top_assist_maker'>
        <button type = 'submit'>Submit</button>
    </form>
    </div>
</div>
{% endblock%}
