{% extends 'index.html'%}
{% block body%}
<div class = "add">
    <h2>Add Records</h2>
    <form method = 'post'>
        <label for = 'season'>Season</label>
        <br>
        <input type = 'text' name = 'season' id = 'season'>
        <br>
        <label for = 'games_played'>Games Played</label>
        <br>
        <input type = 'text' name = 'games_played' id = 'games_played'>
        <br>
        <label for = 'games_won'>Wins</label>
        <br>
        <input type = 'text' name = 'games_won' id = 'games_won'>
        <br>
        <label for = 'games_drawn'>Drawn</label>
        <br>
        <input type = 'text' name = 'games_drawn' id = 'games_drawn'>
        <br>
        <label for = 'games_lost'>Losses</label>
        <br>
        <input type = 'text' name = 'games_lost' id = 'games_lost'>
        <br>
        <label for = 'goals_for'>Goals For</label>
        <br>
        <input type = 'text' name = 'goals_for' id = 'goals_for'>
        <br>
        <label for = 'goals_against'>Goals Against</label>
        <br>
        <input type = 'text' name = 'goals_against' id = 'goals_against'>
        <br>
        <label for = 'goal_difference'>Goal Difference</label>
        <br>
        <input type = 'text' name = 'goal_difference' id = 'goal_difference'>
        <br>
        <label for = 'points'>Points</label>
        <br>
        <input type = 'text' name = 'points' id = 'points'>
        <br>
        <label for = 'top_goal_scorer'>Top Goal Scorer</label>
        <br>
        <input type = 'text' name = 'top_goal_scorer' id = 'top_goal_scorer'>
        <br>
        <label for = 'top_assist_maker'>Top Assist Maker</label>
        <br>
        <input type = 'text' name = 'top_assist_maker' id = 'top_assist_maker'>
        <br>
        <button type = 'submit'>Submit</button>
    </form>
</div>
{% endblock%}
