{%extends 'index.html'%}
{%block body%}
<div class = "home">
    <div class = "banner">
        <img src = "{{url_for('static', filename = 'stadium.jpg')}}">
        <div class = 'banner_text'>
            <h1>Welcome to Chelsea</h1>
            <h2 id = "banner_est"> Est. 1905</h2>
        </div>
    </div>
    <div class = "flex">
            <div>
                <img src = "{{url_for('static', filename = 'colepalmer.jpg')}}" id = 'img_1'>
            </div>
            <div>
                <h3 id = 'home_main'>Chelsea Football Club, founded in 1905, is one of England's most successful football teams. 
                    Based in London, they play their home matches at Stamford Bridge. Chelsea is known for its rich history, 
                    having won multiple Premier League titles, FA Cups, and European trophies, including the prestigious UEFA Champions League (in 2012 and 2021). 
                    Known for their passionate fan base and a tradition of signing top international talents, 
                    Chelsea is a powerhouse in both domestic and international football.</h3>
            </div>
            <div>
                <img src = "{{url_for('static', filename = 'nkunku.jpg')}}" id="img_2">
            </div>
    </div>



</div>



{%endblock%}