<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Koulen' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike Angular' rel='stylesheet'>
        <link rel = 'stylesheet' href = "{{url_for('static', filename = 'index.css')}}">
    </head>
    <body>
        <div class = 'main_nav'>
            <img src = "{{url_for('static', filename = 'Chelsea Logo.png')}}">
            <a href = '{{url_for("home")}}'>Home</a>
            <a href = '{{url_for("seasonhistory")}}'>Season History</a>
            <a>Add Records</a>
        </div>
        {%block body%}

        {%endblock%}
    </body>
</html>